@import "../../main/app_view.css";

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    width: 300px;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    margin-bottom: 15px;
}

form button {
    background-color: #28a745;
}

button.link-btn {
    margin-top: 15px;
}